{% extends 'base.html' %}
{% load static %}
{% block content %}


	<!-- Page heading -->
	<div class="container p-t-4 p-b-35">
		<h2 class="f1-l-1 cl2">
			Сайт Ҳақида
		</h2>
	</div>

	<!-- Content -->
	<section class="bg0 p-b-110">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-8 p-b-30">
					<div class="p-r-10 p-r-0-sr991">
						<p class="f1-s-11 cl6 p-b-25">
							Tahlil24 жаҳонда ва Ўзбекистонда содир бўлаётган энг сўнгги янгиликларни ўзбек ўқувчиларига содда ва тушунарли тилда ҳамда тезкор етказиб беришга мўлжалланган интернет-нашрдир.
						</p>

						<p class="f1-s-11 cl6 p-b-25">
							Лойиҳа 2016 йилнинг февралида фаолиятини бошлаган. ОАВ сифатида 1124  рақами билан давлат рўйхатидан ўтган. <br>
							Facebook, Twitter,  ижтимоий тармоқларида саҳифаларимиз, Telegram мессенжерида эса @tahlil24 номли каналимиз ишламоқда.
						</p>

						<p class="f1-s-11 cl6 p-b-25">
							<b>Tahlil24 cайти материалларидан фойдаланиш шартлари</b>  <br>

							Tahlil24 сайти таҳририяти мавжуд қонунчиликка кўра сайтда чоп этилган, қоидалар асосида кўчириб босилган маълумотлар асослилиги учун (манбаси кўрсатиб ёзилганлиги эвазига) жавобгарликни ўз зиммасига олмайди. <br>

							Сайтда чоп этилган мақола юзасидан, унинг муаллифи ва сайт таҳририятининг фикри бошқа бўлиши мумкин. <br>

							Шунингдек, сайт таҳририяти ўқувчиларининг юборган хатлари, фикрларига ҳар бирига алоҳида жавоб ёзиш мажбуриятини олмайди. <br>
						</p>
					</div>
				</div>
				
				<!-- Sidebar -->
				<div class="col-md-5 col-lg-4 p-b-30">
					<div class="p-l-10 p-rl-0-sr991 p-t-5">
						<!-- Popular Posts -->
						<div>
								<!-- Most Popular -->
						<div class="p-b-30">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Оммабоп
								</h3>
							</div>

							<ul class="p-t-35">
								{% if actual %}
								{% for post in actual %}
								<li class="flex-wr-sb-s p-b-22">
									<form action="" method="get" >
										<input type="hidden" name="post-id" value="{{ post.id }}">
											<button type="submit" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03" style="text-align:left;">
													{{ post.title|safe }}
											</button>
									</form>
								</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>

						<!--  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}