{% extends 'base.html' %}
{% load static  widget_tweaks%}
{% block content %}


	<!-- Page heading -->
	<div class="container p-t-4 p-b-40">
		<h2 class="f1-l-1 cl2">
			АЛОҚА
		</h2>
	</div>

	<!-- Content -->
	<section class="bg0 p-b-60">
		<div class="container">

			{% if messages %}
			{% for msg in messages %}
			<div class="alert alert-primary" role="alert">
				{{ msg }}
			  </div>
				{% endfor %}
			{% endif %}

			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-8 p-b-80">
					<div class="p-r-10 p-r-0-sr991">
						<form action="" method="post">
							{% csrf_token %}
							{{ form.full_name|add_class:"bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20"|attr:"type:text"|attr:"name:email"|attr:"placeholder:Исм-Фамиля*"}}

							{{ form.e_pochta|add_class:"bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20"|attr:"type:text"|attr:"name:email"|attr:"placeholder:Эл.Почта*"}}

							{{ form.phone|add_class:"bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20"|attr:"type:tel"|attr:"name:phone"|attr:"placeholder:Телефон*"}}
							
							{{ form.subject|add_class:"bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20"|attr:"type:text"|attr:"name:subject"|attr:"placeholder:Мавзу"}}
							
							{{ form.message|add_class:"bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20"|attr:"name:msg"|attr:"placeholder:Ҳабар"}}


							<button class="size-a-20 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20" type="submit">
								Жўнатиш
							</button>
						</form>
					</div>
				</div>
				
				<!-- Sidebar -->
				<div class="col-md-5 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">
						<!-- Popular Posts -->
						<!-- Most Popular -->
						<div class="p-b-30">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Оммабоп
								</h3>
							</div>

							<ul class="p-t-35">
								{% if actual %}
								{% for post in actual %}
								<li class="flex-wr-sb-s p-b-22">
									<form action="{% url  'blog_detail' post.id %}" method="get" >
										<input type="hidden" name="post-id" value="{{ post.id }}">
											<button type="submit" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03" style="text-align:left;">
													{{ post.title|safe }}
											</button>
									</form>
								</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}