	{% extends 'base.html' %}
	{% load static %}
	{% block content %}
	<!-- Post -->
	<section class="post bg0 p-t-85">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8">
					<div class="p-r-10 p-rl-0-sr991 p-b-20">
						<!-- Main News  -->
						<div class="p-b-25">
							<div class="flex-wr-sb-s p-t-35">
								<div class="size-w-6 w-full-sr575">
									<!-- Item post -->	
									<div class="m-b-30">
										<form action="{% url 'blog_detail' first_post.id %}" method="get" >
											<input type="hidden" name="post-id" value="{{ first_post.id }}">
											<button class="wrap-pic-w hov1 trans-03" type="submit"><img src="{{ first_post.image.url }}" alt="IMG"></button>
										</form>
										
										<div class="p-t-25">
											<h5 class="p-b-5">

												<form action="{% url 'blog_detail' first_post.id %}" method="get" >
													<input type="hidden" name="post-id" value="{{ first_post.id }}">
														<button type="submit" class="f1-m-3 cl2 hov-cl10 trans-03" style="text-align:left;">
																{{ first_post.title|safe }}
														</button>
												</form>
											
												
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
													{{first_post.category}}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{first_post.add_time|date:'M d'}}
												</span>
											</span>

											<p class="f1-s-1 cl6 p-t-18">
												{{first_post.content_mini|safe}}
											</p>
										</div>
									</div>
								</div>

								<div class="size-w-7 w-full-sr575">
									<!-- Item post -->	
									{% for post in two_post %}
									<div class="m-b-30">
										<form action="{% url 'blog_detail' post.id %}" method="get" >
											<input type="hidden" name="post-id" value="{{ post.id }}">
											<button class="wrap-pic-w hov1 trans-03" type="submit"><img src="{{ post.image.url }}" alt="IMG"></button>
										</form>

										<div class="p-t-10">
											<h5 class="p-b-5">
												<form action="{% url 'blog_detail' post.id %}" method="get" >
													<input type="hidden" name="post-id" value="{{ post.id }}">
														<button type="submit" class="f1-m-3 cl2 hov-cl10 trans-03" style="text-align:left;">
																{{ post.title|safe }}
														</button>
												</form>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{post.category}}
													{{post.user.author}}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{post.add_time|date:'M d'}}
												</span>
											</span>
										</div>
									</div>
{% endfor %}
								
								</div>
							</div>
						</div>
						
						<!-- Current News  -->
						<div class="p-b-25">
							<div class="how2 how2-cl1 flex-sb-c m-r-10 m-r-0-sr991">
								<h3 class="f1-m-2 cl12 tab01-title">
									Долзарб ҳабарлар
								</h3>


								<a href="category.html" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03">
									Барчаси
									<i class="fs-12 m-l-5 fa fa-caret-right"></i>
								</a>
							</div>
							<div class="flex-wr-sb-s p-t-35">
								<div class="size-w-6 w-full-sr575">
									<!-- Item post -->	
									<div class="m-b-30">
										<a href="blog-detail.html" class="wrap-pic-w hov1 trans-03">
											<img src="{% static 'images/post-10.jpg' %}" alt="IMG">
										</a>

										<div class="p-t-25">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-m-3 cl2 hov-cl10 trans-03">
													Долзарб ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
													Таҳлил
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Июнь 26
												</span>
											</span>

											<p class="f1-s-1 cl6 p-t-18">
												Мақоладан кисқа парча 150та ортиқ белгидан ошмаслиги лозим 
											</p>
										</div>
									</div>
								</div>

								<div class="size-w-7 w-full-sr575">
									<!-- Item post -->	
									<div class="m-b-30">
										<a href="blog-detail.html" class="wrap-pic-w hov1 trans-03">
											<img src="{% static 'images/post-11.jpg' %}" alt="IMG">
										</a>

										<div class="p-t-10">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Долзарб ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Таҳлил
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Feb 17
												</span>
											</span>
										</div>
									</div>

									<!-- Item post -->	
									<div class="m-b-30">
										<a href="blog-detail.html" class="wrap-pic-w hov1 trans-03">
											<img src="{% static 'images/post-24.jpg' %}" alt="IMG">
										</a>

										<div class="p-t-10">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Долзарб ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Жаҳон
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Feb 16
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Photo Blog  -->
						<div class="p-b-25 m-r--10 m-r-0-sr991">
							<div class="how2 how2-cl5 flex-sb-c m-r-10 m-r-0-sr991">
								<h3 class="f1-m-2 cl17 tab01-title">
									Фото Хабарлар
								</h3>


								<a href="category-01.html" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03">
									Барчаси
									<i class="fs-12 m-l-5 fa fa-caret-right"></i>
								</a>
							</div>

							<div class="row p-t-35">
								<div class="col-sm-6 p-r-25 p-r-15-sr991">
									<!-- Item post -->	
									<div class="flex-wr-sb-s m-b-30">
										<a href="blog-detail.html" class="size-w-1 wrap-pic-w hov1 trans-03">
											<img src="{% static 'images/post-25.jpg' %}" alt="IMG">
										</a>

										<div class="size-w-2">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Фото ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Жамият
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Июнь 26
												</span>
											</span>
										</div>
									</div>
									
									<!-- Item post -->	
									<div class="flex-wr-sb-s m-b-30">
										<a href="blog-detail.html" class="size-w-1 wrap-pic-w hov1 trans-03">
											<img src="{% static 'images/post-25.jpg' %}" alt="IMG">
										</a>

										<div class="size-w-2">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Фото ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Жамият
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Июнь 26
												</span>
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 p-r-25 p-r-15-sr991">
									<!-- Item post -->	
									<div class="flex-wr-sb-s m-b-30">
										<a href="blog-detail.html" class="size-w-1 wrap-pic-w hov1 trans-03">
											<img src="{% static 'images/post-25.jpg' %}" alt="IMG">
										</a>

										<div class="size-w-2">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Фото ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Жамият
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Июнь 26
												</span>
											</span>
										</div>
									</div>
									<!-- Item post -->	
									<div class="flex-wr-sb-s m-b-30">
										<a href="blog-detail.html" class="size-w-1 wrap-pic-w hov1 trans-03">
											<img src="images/post-25.jpg" alt="IMG">
										</a>

										<div class="size-w-2">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Фото ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Жамият
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Июнь 26
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Video blog  -->
						<div class="p-b-25 m-r--10 m-r-0-sr991">
							<div class="how2 how2-cl5 flex-sb-c m-r-10 m-r-0-sr991">
								<h3 class="f1-m-2 cl17 tab01-title">
									Видео Хабарлар
								</h3>


								<a href="category-01.html" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03">
									Барчаси
									<i class="fs-12 m-l-5 fa fa-caret-right"></i>
								</a>
							</div>

							<div class="row p-t-35">
								<div class="col-sm-6 p-r-25 p-r-15-sr991">
									<!-- Item post -->	
									<div class="flex-wr-sb-s m-b-30">
										<a href="blog-detail.html" class="size-w-1 wrap-pic-w hov1 trans-03">
											<img src="images/post-25.jpg" alt="IMG">
										</a>

										<div class="size-w-2">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Видео ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Жамият
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Июнь 26
												</span>
											</span>
										</div>
									</div>
									<!-- Item post -->	
									<div class="flex-wr-sb-s m-b-30">
										<a href="blog-detail.html" class="size-w-1 wrap-pic-w hov1 trans-03">
											<img src="images/post-25.jpg" alt="IMG">
										</a>

										<div class="size-w-2">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Видео ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Жамият
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Июнь 26
												</span>
											</span>
										</div>
									</div>	
									
								</div>

								<div class="col-sm-6 p-r-25 p-r-15-sr991">
									<!-- Item post -->	
									<div class="flex-wr-sb-s m-b-30">
										<a href="blog-detail.html" class="size-w-1 wrap-pic-w hov1 trans-03">
											<img src="images/post-25.jpg" alt="IMG">
										</a>

										<div class="size-w-2">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Видео ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Жамият
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Июнь 26
												</span>
											</span>
										</div>
									</div>
									<!-- Item post -->	
									<div class="flex-wr-sb-s m-b-30">
										<a href="blog-detail.html" class="size-w-1 wrap-pic-w hov1 trans-03">
											<img src="images/post-25.jpg" alt="IMG">
										</a>

										<div class="size-w-2">
											<h5 class="p-b-5">
												<a href="blog-detail.html" class="f1-s-5 cl3 hov-cl10 trans-03">
													Видео ҳабарлар бу ерда туради
												</a>
											</h5>

											<span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													Жамият
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													Июнь 26
												</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-10 col-lg-4">
					<div class="p-l-10 p-rl-0-sr991 p-b-20">
						<!-- Most Popular -->
						<div class="p-b-30">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Оммабоп
								</h3>
							</div>

							<ul class="p-t-35">
								<li class="flex-wr-sb-s p-b-22">
									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Оммабоп ҳабарлар бу ерда туради
									</a>
								</li>

								<li class="flex-wr-sb-s p-b-22">
									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Оммабоп ҳабарлар бу ерда туради
									</a>
								</li>

								<li class="flex-wr-sb-s p-b-22">
									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Оммабоп ҳабарлар бу ерда туради
									</a>
								</li>

								<li class="flex-wr-sb-s p-b-22">
									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Оммабоп ҳабарлар бу ерда туради
									</a>
								</li>

								<li class="flex-wr-sb-s p-b-22">
									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Оммабоп ҳабарлар бу ерда туради
									</a>
								</li>
							</ul>
						</div>

						<!--  -->
						<div class="flex-c-s p-t-8 p-b-65">
							<a href="#">
								<img class="max-w-full" src="images/banner-02.jpg" alt="IMG">
							</a>
						</div>	
						<!-- Subscribe -->
						<div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-55">
							<h5 class="f1-m-5 cl0 p-b-10">
								Обуна
							</h5>

							<p class="f1-s-1 cl0 p-b-25">
								Кайноқ янгиликларга обуна бўлинг
							</p>

							<form class="size-a-9 pos-relative">
								<input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" name="email" placeholder="Email">

								<button class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03">
									<i class="fa fa-arrow-right"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Banner -->
	<div class="container m-t-10 m-b-15">
		<div class="flex-c-c">
			<a href="#">
				<img class="max-w-full" src="images/banner-01.jpg" alt="IMG">
			</a>
		</div>
	</div>

	<!-- Latest -->
	<section class="bg0 p-t-60 p-b-40">
		<div class="container">
			<div class="how2 how2-cl4 flex-s-c">
				<h3 class="f1-m-2 cl3 tab01-title">
					Сўнги ҳабарлар
				</h3>
			</div>

			<div class="row p-t-35">
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="blog-detail.html" class="wrap-pic-w hov1 trans-03">
							<img src="images/latest-01.jpg" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="blog-detail.html" class="f1-m-3 cl2 hov-cl10 trans-03">
									Сўнги ҳабарлар бу ерда туради 
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									Автор: Фалончи Фалончиев
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									июнь 26
								</span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="blog-detail.html" class="wrap-pic-w hov1 trans-03">
							<img src="images/latest-01.jpg" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="blog-detail.html" class="f1-m-3 cl2 hov-cl10 trans-03">
									Сўнги ҳабарлар бу ерда туради 
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									Автор: Фалончи Фалончиев
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									июнь 26
								</span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="blog-detail.html" class="wrap-pic-w hov1 trans-03">
							<img src="images/latest-01.jpg" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="blog-detail.html" class="f1-m-3 cl2 hov-cl10 trans-03">
									Сўнги ҳабарлар бу ерда туради 
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									Автор: Фалончи Фалончиев
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									июнь 26
								</span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="blog-detail.html" class="wrap-pic-w hov1 trans-03">
							<img src="images/latest-01.jpg" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="blog-detail.html" class="f1-m-3 cl2 hov-cl10 trans-03">
									Сўнги ҳабарлар бу ерда туради 
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									Автор: Фалончи Фалончиев
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									июнь 26
								</span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="blog-detail.html" class="wrap-pic-w hov1 trans-03">
							<img src="images/latest-01.jpg" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="blog-detail.html" class="f1-m-3 cl2 hov-cl10 trans-03">
									Сўнги ҳабарлар бу ерда туради 
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									Автор: Фалончи Фалончиев
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									июнь 26
								</span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<!-- Item latest -->	
					<div class="m-b-45">
						<a href="blog-detail.html" class="wrap-pic-w hov1 trans-03">
							<img src="images/latest-01.jpg" alt="IMG">
						</a>

						<div class="p-t-16">
							<h5 class="p-b-5">
								<a href="blog-detail.html" class="f1-m-3 cl2 hov-cl10 trans-03">
									Сўнги ҳабарлар бу ерда туради 
								</a>
							</h5>

							<span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									Автор: Фалончи Фалончиев
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									июнь 26
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}