{% extends 'base.html' %}
{% block content %}

<body class="animsition">



	<!-- Page heading -->
	<div class="container p-t-4 p-b-40">
		<h2 class="f1-l-1 cl2">

			{% if number == 1 %}
			Долзарб ҳабарлар
			{% elif number == 2 %}
			Фото Хабарлар
			{% elif number == 3 %}
			Видео Хабарлар
			{% endif %}

		</h2>
	</div>

	<!-- Post -->
	<section class="bg0 p-t-70 p-b-55">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-80">
					<div class="row">

						{% for category in page_obj %}
						<div class="col-sm-6 p-r-25 p-r-15-sr991">
							<!-- Item latest -->
							<div class="m-b-45">
								<form action="{% url 'blog_detail' category.id %}" method="get">
									<input type="hidden" name="post-id" value="{{ category.id }}">
									<button class="wrap-pic-w hov1 trans-03" type="submit"><img
											src="{{ category.image.url }}" alt="IMG"></button>
								</form>


								<div class="p-t-16">
									<h5 class="p-b-5">
										<form action="{% url 'blog_detail' category.id %}" method="get">
											<input type="hidden" name="post-id" value="{{ category.id }}">
											<button type="submit" class="f1-m-3 cl2 hov-cl10 trans-03"
												style="text-align:left;">
												{{ category.title|safe }}
											</button>
										</form>

									</h5>

									<span class="cl8">
										<span class="f1-s-3">
											<i
												class="far fa-calendar-check "></i>&nbsp;{{category.add_time|date:'Y-m-d'}}
										</span>
									</span>
								</div>
							</div>
						</div>
						{% endfor %}


					</div>
				{% if page_obj %}
					<nav aria-label="Page navigation example">
						<ul class="pagination">
				{%if page_obj.has_previous %} {# whether the previous page exists #}
				<li class="page-item">	<a class="page-link" href="?page={{page_obj.previous_page_number}}"><i class="fas fa-chevron-left"></i></a> </li>{# link to the prev page #}
				{% endif %}
				<li class="page-item"><span class="page-link">{{page_obj.number}}</span> </li>{# the current page number #}
				
				{%if page_obj.has_next %} {# whether the next page exists #}
				<li class="page-item">	<a  class="page-link"href="?page={{page_obj.next_page_number}}"><i class="fas fa-chevron-right"></i></a></li> {# link to the next page #}
				{% endif %}
				
				</ul>
				{% endif %}
					</nav>
					<!-- Pagination -->
				</div>

				<div class="col-md-10 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">
						<!-- Subscribe -->
						<!-- <div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-50">
							<h5 class="f1-m-5 cl0 p-b-10">
								Обуна
							</h5>

							<p class="f1-s-1 cl0 p-b-25">
								Кайноқ янгиликларга обуна бўлинг
							</p>

							<form class="size-a-9 pos-relative">
								<input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" name="email" placeholder="Email">

								<button class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03">
									<i class="fa fa-arrow-right"></i>
								</button>
							</form>
						</div> -->

						<!-- Most Popular -->
						<div class="p-b-23">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Оммабоп
								</h3>
							</div>

							<ul class="p-t-35">
								{% for post in actual %}
								<li class="flex-wr-sb-s p-b-22">
									<form action="{% url 'blog_detail' post.id %}" method="get">
										<input type="hidden" name="post-id" value="{{ post.id }}">
										<button type="submit" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03"
											style="text-align:left;">
											{{ post.title|safe }}
										</button>
									</form>
								</li>
								{% endfor %}

							</ul>
						</div>

						<!--  -->
						<div class="flex-c-s p-b-50">
							<a href="#">
								<img class="max-w-full" src="images/banner-02.jpg" alt="IMG">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}